<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/home.css">
    <title>Cool</title>
</head>
<body>
    <div class="container">
        <div id="img">
            <img src="{{ nang.anh }}" alt="anh" width="500px" height="400px">
        </div>

        <div id="info">
            <p style="text-align: center; font-size: 40px;">{{ nang.ten }}</p>            
            <p><b>Địa chỉ:</b> {{ nang.diachi }}</p>            
        </div>
    </div>
    <div class="row">
        <div id="cachlam">
            <p><i><b>Nguyên Liệu:</b></i> {{ nang.nguyenlieu }}</p>
            <p><i><b>Cách làm:</b></i>
                    {% for i in nang.cachlam %}
                    <p>{{i}}</p>
                    {% endfor %}
            </p>
        </div>
    </div>
</body>
</html>