<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Rental Service</title>
</head>
<body>
    <form action="" method="POST">
        <label>Model</label>
        <input type="text" name="model" placeholder="e.g. Honda">
        <br>
        <label>Daily Fee (VND)</label>
        <input type="text" name="daily_fee">
        <br>
        <label>Image</label>
        <input type="text" name="img" placeholder="e.g. https://honda" size="40">
        <br>
        <label>Year</label>
        <input type="text" name="year" placeholder="e.g. 2019">
        <br>
        <button style="background-color:chocolate">Submit</button>
        <br>        
    </form>
</body>
</html>