<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cò Bâu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row",  style="background-color:darkkhaki">
            <div class="col-sm-7">
                <img src="https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/28279214_1421743524638758_7278681496373222929_n.jpg?_nc_cat=105&_nc_oc=AQlVSvQh11o6wCJWDYqKr4HoyM0RoZn0WN577fy39eSvJxA43qucrwibZZkveYrQeFA&_nc_ht=scontent.fhan5-6.fna&oh=35d6b1caed9165b046505d24d7d81c09&oe=5D014DD6" alt="Cobau">
            </div>
            <div class="col-sm-5">
                <h2>Ngọ Tùng Dương <hr>
        <pre>
            
        Ngày sinh: 03/04/1997
        Sinh viên năm 4 Khoa CNTT, Đại Học Thủy Lợi
        Sở thích: Chơi đàn
        Crush: <b>YES</b>
        <progress value="70", max="100"></progress>
        </pre></h2>

            </div>
        </div>
    </div>
</body>
</html>